@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    background-color: rgb(2 6 23);
    scrollbar-gutter: stable;
  }
  body {
    margin: 0;
  }
}
