@import "tailwindcss";
@layer base {
  html,
  body {
    height: 100%;
    overflow-y: scroll;
    scrollbar-gutter: stable;
  }

  #root {
    height: 100%;
    overflow: visible; /* IMPORTANT */
  }
}
